<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CATEGORY</title>
</head>
<body>
{% if child_category %}
    <h2>Subcategories:</h2>
    <ul>
        {% for child in child_category %}
            <li>
                <a href="{% url 'category_view' child.pk %}">{{ child.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% elif words %}
    <h2>Words:</h2>
    <ul>
        {% for word in words %}
            <li>
                <a href="{% url 'word_detail_view' word.slug %}">{{ word.name }}</a>
                <!-- Link to word detail view -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No subcategories or words found.</p>
{% endif %}
</body>
</html>
