<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORDS</title>
</head>
<body>
<br><br><br>
<span>{{ word.name }}</span>
<br><br><br>
<img src="{{ word.image.url }}" alt="Profile Image">
<br><br><br>
<video src="{{ word.video.url }}" controls></video>
<br><br><br>
<span>{{ word.description }}</span>
<br><br><br>
{% if word in profile.liked_words.all %}
    <form action="{% url 'unlike_word' slug=word.slug %}" method="post">
        {% csrf_token %}
        <button type="submit">Unlike</button>
    </form>
{% else %}
    <form action="{% url 'like_word' slug=word.slug %}" method="post">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
{% endif %}
</body>
</html>
